<div style="margin-top: 100px;">
  <!-- Filtro de Pesquisa -->
  <mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Pesquisa" #input>
  </mat-form-field>

  <!-- Botões para filtrar jogos por lista -->
  <section>
    <div class="example-button-row">
      <button mat-flat-button (click)="loadGames('all')">Mostrar Todos os Jogos</button>
      <button mat-flat-button (click)="loadGames('later')">Jogar mais tarde</button>
      <button mat-flat-button (click)="loadGames('playing')">A Jogar Atualmente</button>
      <button mat-flat-button (click)="loadGames('played')">Jogado</button>
      <button mat-flat-button (click)="loadGames('completed')">Concluído</button>
    </div>
  </section>

  <!-- Tabela de Jogos -->
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Coluna ID -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- Coluna Thumbnail -->
      <ng-container matColumnDef="thumbnail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagem </th>
        <td mat-cell *matCellDef="let row">
          <img [src]="row.thumbnail" alt="Thumbnail" style="height: 50px; width: auto; border-radius: 5px;">
        </td>
      </ng-container>

      <!-- Coluna Título -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Jogo </th>
        <td mat-cell *matCellDef="let row"> {{row.title}} </td>
      </ng-container>

      <!-- Coluna Género -->
      <ng-container matColumnDef="genre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Género </th>
        <td mat-cell *matCellDef="let row"> {{row.genre}} </td>
      </ng-container>

      <!-- Coluna Menu -->
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" class="custom-menu">
            <button mat-menu-item (click)="moveGame(row.id, 'later')">
              <span>Jogar mais tarde</span>
            </button>
            <button mat-menu-item (click)="moveGame(row.id, 'playing')">
              <span>A Jogar Atualmente</span>
            </button>
            <button mat-menu-item (click)="moveGame(row.id, 'played')">
              <span>Jogado</span>
            </button>
            <button mat-menu-item (click)="moveGame(row.id, 'completed')">
              <span>Concluído</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <!-- Cabeçalho e Corpo da Tabela -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Caso não haja dados -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="5">Não há dados correspondentes à pesquisa "{{input.value}}"</td>
      </tr>
    </table>

    <!-- Paginador -->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Página"></mat-paginator>
  </div>
</div>
