
<h1>Todos os jogos</h1>

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
      @for (game of games; track game.id) {
      <div class="col-md-4">
          <img src="{{game.thumbnail}}" class="img-fluid rounded-start" alt="Imagem do Jogo">
      </div>
      <div class="col-md-8">
          <div class="card-body">
              <h5 class="card-title">{{game.title}}</h5>
              <p class="card-text">{{game.shortDescription}}</p>
              
              <div class="card-text">
                  <a [routerLink]="['/games-details', game.id]" class="btn btn-primary">Ver mais</a>
                  <a routerLink="{{game.freetogameProfileUrl}}" target="_blank" class="btn btn-secondary">More Info</a>
              </div>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
              <div class="cartao" >
                  <h3>{{game.title}}
                      <small>(#{{game.id}})</small>
                  </h3>
              </div>
          </div>
      </div>
      }
  </div>
</div>