<div *ngIf="profile">
  <div class="profile-header" style="margin-top: 150px;">
    <div class="avatar-container">
      <ng-container *ngIf="profile.avatar; else noAvatar">
        <img [src]="profile.avatar" alt="User Avatar">
      </ng-container>
      <ng-template #noAvatar>
        <div class="avatar-placeholder" [style.backgroundColor]="'#CD853F'">
          <span>{{ profile.name[0] | uppercase }}</span>
        </div>
      </ng-template>
    </div>
    <h2>{{ profile.name }}</h2>
    <p>Email: {{ profile.email }}</p>

    <button (click)="navigateToEditProfile()" class="edit-button">
      Editar Perfil
    </button>
</div>
