<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand d-flex justify-content-center align-items-center" href="#">
      <img src="/image/assets/logoFreePlay-Photoroom.png" alt="Logo" class="logo" style="height: 110px; width: 170px;">
    </a>

    <!-- Toggle button for mobile view -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav w-100 d-flex justify-content-around">
        <li class="nav-item">
          <a class="nav-link" routerLink="/games-list" routerLinkActive="active">
            <i class="fas fa-gamepad"></i> Jogos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/my-games" routerLinkActive="active">
            <i class="fas fa-list"></i> Meus Jogos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="active">
            <i class="fas fa-user"></i> Perfil
          </a>
        </li>
      </ul>

      <!-- Search form -->
      <form class="d-flex ms-lg-3" role="search" style="display: flex;" (ngSubmit)="searchGames()">
        <div class="search-container" style="position: relative; width: 100%;"> <!-- Contêiner para a pesquisa -->
          <input 
            class="form-control me-2" 
            type="search" 
            placeholder="Pesquisar" 
            aria-label="Search" 
            [(ngModel)]="searchTerm" 
            name="searchTerm" 
            required 
            (input)="searchGames()"> <!-- Use (input) event for live filtering -->
          
          <div *ngIf="filteredGames.length > 0 && searchTerm.trim()" class="search-results">
            <div *ngFor="let game of filteredGames" class="search-item">
              <a [routerLink]="['/games-details', game.id]" class="search-item-link">
                <div class="search-item-thumbnail">
                  <img [src]="game.thumbnail" alt="{{ game.title }} thumbnail" class="img-fluid">
                </div>
                <div class="search-item-info">
                  <h6 class="search-item-title">{{ game.title }}</h6>
                  <p class="search-item-description">{{ game.shortDescription }}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
        
      </form>

      <!-- Loading indicator -->
      <div *ngIf="isLoading" class="loading-indicator">
        <p>Loading games...</p>
      </div>
    </div>
  </div>
</nav>
